@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}
body {
  background-color: #4c93af;
}

/* Основной контейнер */
.container {
  display: flex;
  flex-direction: column;
}
div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  /* background-color: #9e5252; */
}
.header {
  display: flex;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.task-block {
  border-radius: 10px;
  border: white 1px solid;
}

/* Стиль для чекбокса */
input[type="checkbox"] {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 8px;
}

/* Стиль для кнопки удаления */
button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #d32f2f;
}

/* Стиль для иконки */
svg {
  cursor: pointer;
  margin-left: 10px;
}

/* Модификация для текста задачи */
span {
  font-size: 16px;
  font-weight: bold;
  flex-grow: 1;
  /* text-decoration: ${({ isCompleted }) => (isCompleted ? "line-through" : "none")}; */
}
